<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="providerGroup">
      <section name="fileSystemService"     type="NeoGeo.Library.SMB.Provider.FileSystemServiceSection, NeoGeo.Library.SMB" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <!--<section name="authenticationService" type="NeoGeo.Library.SMB.Provider.AuthenticationServiceSection, NeoGeo.Library.SMB" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />-->
    </sectionGroup>
  </configSections>

  <providerGroup>
    <fileSystemService defaultProvider="iPhoneFS">
      <providers>
        <add name="phone" description="Files on the iPhone" type="lokkju.iPx.iPhoneDrive.iPhoneFS, iPhoneFS" mappedpath="/" />
      </providers>
    </fileSystemService>
    <!--<authenticationService>
      <providers>
        <add name="authentication" description="" type="Suchwerk.FileSystem.AuthenticationDummy, DummyFS" />
      </providers>
    </authenticationService>-->
  </providerGroup>

  <appSettings>

    <!-- add key="ServerName" value="dateien2"/> -->
    <!-- add key="DomainController" value=""/> -->

  </appSettings>

</configuration>

